body {
  background-color: var(--background);
  font-family: Arial, sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
}

.main {
  background-color: var(--background_elements);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--text);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--text);
}

input[type="text"],
input[type="number"],
input[type="file"] {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
  border-color: var(--selected);
  outline: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.submit-btn {
  background-color: var(--background_dropdown);
  color: var(--text);
  padding: 10px 20px;
  border: 2px solid var(--background_dropdown); /* Added border */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
}

.submit-btn:hover {
  background-color: var(--selected);
  border-color: var(--selected); /* Updated border color on hover */
}
