.brand-logo {
  width: 200px;
  height: auto;
  padding-left: 5%;
}

.brand-title {
  margin-left: 10%;
  margin-top: 5%;
  font-size: 40px;
  color: var(--text);
}

.brand-header {
  display: flex;
}
.brand-info {
  padding-left: 5%;
  color: var(--text);
}
.brand-info a {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: var(--text);
}
.product-title {
  font-size: 30px;
}
.product-flex-container {
  display: flex;
}
.product-picture {
  width: 150px;
  height: auto;
}
.product-box {
  margin-left: 10%;
}

.product-box p {
  margin: 0;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .brand-header {
    display: block;
  }
  .product-flex-container {
    display: block;
  }
}
