@import url("index.css");

#header {
  background-color: var(--background-elements);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 125px;
}

#logo {
  width: 130px;
  height: auto;
}
