:root {
  --background: #ffffff;
  --background_elements: #f6ecde;
  --text: #020202;
  --background_dropdown: #ccb493;
  --selected: #decbb0;
  --border-color: #ccb493;
  --font-family: Arial, sans-serif;
}
body {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidenav content";
  height: 100vh;
  margin: 0;
}

#header-placeholder {
  grid-area: header;
}

#sidenav-placeholder {
  grid-area: sidenav;
}

.main {
  grid-area: content;
  font-size: 20px;
  padding: 2%;
}

#content-frame {
  width: 100%;
  height: 100%;
  border: none;
}
.main.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: 30px 1fr;
  }
  body.sidenav {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header"
      "sidenav";
  }
}
