:root {
  --background: #ffffff;
  --background_elements: #f6ecde;
  --text: #020202;
  --background_dropdown: #ccb493;
  --selected: #decbb0;
  --border-color: #ccb493;
  --font-family: "Inria Serif", serif;
  --header-weight: 700;
  --text-weight: 400;
  --error-text: red;
}

body {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "sidenav content";
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: var(--font-family);
  font-weight: var(--header-weight);
}

p,
li,
i {
  font-weight: var(--text-weight);
  font-family: var(--font-family);
  font-size: large;
}
a {
  font-family: var(--font-family);
  font-weight: var(--text-weight);
}
#header-placeholder {
  grid-area: header;
}

#sidenav-placeholder {
  grid-area: sidenav;
}

.main {
  grid-area: content;
  font-size: 18px;
  padding: 2%;
}

.main.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: 30px 1fr;
  }
  body.sidenav {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header"
      "sidenav";
  }
}
